.kaufman__triangle{
  position: absolute;
  top: -16px;
  right: -210px;
  border-left: 438px solid transparent;
	border-right: 438px solid transparent;
	border-bottom: 877px solid #2f80ed;
  transform: rotate(-15deg);
  object-fit: cover;
  animation: rotation 20s infinite linear;
}